:root {
    --color-green: hsl(75, 94%, 57%);
    --color-white: hsl(0, 0%, 100%);
    --color-grey-700: hsl(0, 0%, 20%);
    --color-grey-800: hsl(0, 0%, 12%);
    --color-grey-900: hsl(0, 0%, 8%);

    --spacing-500: 4rem;
    --spacing-300: 2.4rem;
    --spacing-200: 1.6rem;
    --spacing-150: 1.2rem;
    --spacing-100: 0.8rem;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 1.4rem;
    color: var(--color-white);
    background-color: var(--color-grey-900);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.avatar img {
    max-width: 8.8rem;
    border-radius: 100%;
}

.card {
    width: 304px;
    display: flex;
    flex-direction: column;
    padding: var(--spacing-500);
    text-align: center;
    gap: var(--spacing-300);
    background-color: var(--color-grey-800);
    font-size: 1.4rem;
    border-radius: 12px;
}

.name {
    font-size: 2.4rem;
}

.title div {
    line-height: 1.5;
}

.name {
    font-weight: 600;
}

.location {
    color: var(--color-green);
}

.location, .links {
    font-weight: 700;
}

.links {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-200);
}

.links a {
    color: var(--color-white);
    background-color: var(--color-grey-700);
    text-decoration: none;
    padding: var(--spacing-150);
    border-radius: 8px;
}
